In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
data = pd.read_csv('bitcoin_final.csv')

In [37]:
data = data.set_index(data['Date'])
# Need to reverse order of dataframe.
data.reindex(index=data.index[::-1])

,Date,Open,High,Low,Close,Volume,MarketCap
Date,,,,,,,
28/04/2013,28/04/2013,135.30,135.98,132.10,134.21,0,1500520000
29/04/2013,29/04/2013,134.44,147.49,134.00,144.54,0,1491160000
30/04/2013,30/04/2013,144.00,146.93,134.05,139.00,0,1597780000
01/05/2013,01/05/2013,139.00,139.89,107.72,116.99,0,1542820000
02/05/2013,02/05/2013,116.38,125.60,92.28,105.21,0,1292190000
03/05/2013,03/05/2013,106.25,108.13,79.10,97.75,0,1180070000
04/05/2013,04/05/2013,98.10,115.00,92.50,112.50,0,1089890000
05/05/2013,05/05/2013,112.90,118.80,107.14,115.91,0,1254760000
06/05/2013,06/05/2013,115.98,124.66,106.64,112.30,0,1289470000
07/05/2013,07/05/2013,112.25,113.44,97.70,111.50,0,1248470000
08/05/2013,08/05/2013,109.60,115.78,109.60,113.57,0,1219450000
09/05/2013,09/05/2013,113.20,113.46,109.26,112.67,0,1259980000
10/05/2013,10/05/2013,112.80,122.00,111.55,117.20,0,1255970000
11/05/2013,11/05/2013,117.70,118.68,113.01,115.24,0,1311050000
12/05/2013,12/05/2013,115.64,117.45,113.44,115.00,0,1288630000
13/05/2013,13/05/2013,114.82,118.70,114.50,117.98,0,1279980000
14/05/2013,14/05/2013,117.98,119.80,110.25,111.50,0,1315720000
15/05/2013,15/05/2013,111.40,115.81,103.50,114.22,0,1242760000
16/05/2013,16/05/2013,114.22,118.76,112.20,118.76,0,1274620000
17/05/2013,17/05/2013,118.21,125.30,116.57,123.02,0,1319590000
18/05/2013,18/05/2013,123.50,125.25,122.30,123.50,0,1379140000
19/05/2013,19/05/2013,123.21,124.50,119.57,121.99,0,1376370000
20/05/2013,20/05/2013,122.50,123.62,120.12,122.00,0,1368910000
21/05/2013,21/05/2013,122.02,123.00,121.21,122.88,0,1363940000
22/05/2013,22/05/2013,122.89,124.00,122.00,123.89,0,1374130000
23/05/2013,23/05/2013,123.80,126.93,123.10,126.70,0,1384780000
24/05/2013,24/05/2013,126.30,133.85,125.72,133.20,0,1413300000
25/05/2013,25/05/2013,133.10,133.22,128.90,131.98,0,1489950000
26/05/2013,26/05/2013,131.99,136.00,130.62,133.48,0,1478030000
27/05/2013,27/05/2013,133.50,135.47,124.70,129.75,0,1495520000
...,...,...,...,...,...,...,...
24/10/2017,24/10/2017,5935.52,5935.52,5504.18,5526.64,2735700000,98781600000
25/10/2017,25/10/2017,5524.60,5754.33,5397.88,5750.80,1966990000,91954200000
26/10/2017,26/10/2017,5747.95,5976.80,5721.22,5904.83,1905040000,95685100000
27/10/2017,27/10/2017,5899.74,5988.39,5728.82,5780.90,1710130000,98225400000
28/10/2017,28/10/2017,5787.82,5876.72,5689.19,5753.09,1403920000,96369600000
29/10/2017,29/10/2017,5754.44,6255.71,5724.58,6153.85,2859040000,95819800000
30/10/2017,30/10/2017,6114.85,6214.99,6040.85,6130.53,1772150000,101833000000
31/10/2017,31/10/2017,6132.02,6470.43,6103.33,6468.40,2311380000,102130000000
01/11/2017,01/11/2017,6440.97,6767.31,6377.88,6767.31,2870320000,107287000000
02/11/2017,02/11/2017,6777.77,7367.33,6758.72,7078.50,4653770000,112910000000
03/11/2017,03/11/2017,7087.53,7461.29,7002.94,7207.76,3369860000,118084000000
04/11/2017,04/11/2017,7164.48,7492.86,7031.28,7379.95,2483800000,119376000000
05/11/2017,05/11/2017,7404.52,7617.48,7333.19,7407.41,2380410000,123388000000
06/11/2017,06/11/2017,7403.22,7445.77,7007.31,7022.76,3111900000,123379000000
07/11/2017,07/11/2017,7023.10,7253.32,7023.10,7144.38,2326340000,117056000000
08/11/2017,08/11/2017,7141.38,7776.42,7114.02,7459.69,4602200000,119041000000
09/11/2017,09/11/2017,7446.83,7446.83,7101.52,7143.58,3226250000,124146000000
10/11/2017,10/11/2017,7173.73,7312.00,6436.87,6618.14,5208250000,119607000000
11/11/2017,11/11/2017,6618.61,6873.15,6204.22,6357.60,4908680000,110362000000
12/11/2017,12/11/2017,6295.45,6625.05,5519.01,5950.07,8957350000,104980000000
13/11/2017,13/11/2017,5938.25,6811.19,5844.29,6559.49,6263250000,99029000000
14/11/2017,14/11/2017,6561.48,6764.98,6461.75,6635.75,3197110000,109434000000
15/11/2017,15/11/2017,6634.76,7342.25,6634.76,7315.54,4200880000,110667000000
16/11/2017,16/11/2017,7323.24,7967.38,7176.58,7871.69,5123810000,122164000000
17/11/2017,17/11/2017,7853.57,8004.59,7561.09,7708.99,4651670000,131026000000
18/11/2017,18/11/2017,7697.21,7884.99,7463.44,7790.15,3667190000,128425000000
19/11/2017,19/11/2017,7766.03,8101.91,7694.10,8036.49,3149320000,129595000000
20/11/2017,20/11/2017,8039.07,8336.86,7949.36,8200.64,3488450000,134167000000
21/11/2017,21/11/2017,8205.74,8348.66,7762.71,8071.26,4277610000,136967000000
22/11/2017,22/11/2017,8077.95,8302.26,8075.47,8253.55,3633530000,134851000000

In [38]:
del data['Date']